#Datos{
    background-color: #F8B500;
    font-family: Arial;
    font-weight: bold;
    margin-left: -20px;
    margin-right: -10px;
    margin-top: -20px;   
    
}

#Datos p{
    margin-left: 25px;
    color:white;
}
h1{
    color:white;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
h2{
    margin-left: 25px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
/*comment*/
}
 h3{
     color:#D6231E;
     font-family: 'Assistant', sans-serif;
     font-weight: 900;
 }

 p{
     font-family: Arial;
     color: #2E94B5;
     font-family: 'Hind Madurai', sans-serif;
 }

 body{
     background-color: #FFF4E0;
     margin-left: 20px;

 }

 ul{
    font-family: 'Hind Madurai', sans-serif;
     color: #2E94B5; 
 }